.panel {
    max-width: 320px;
    min-width: 320px;
    height: 100%;
    padding: 10px;
    background-color: rgb(135, 180, 135);
}

.number-component {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
}

.slider-component {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}