.preview-window {
    display: flex;
    flex-direction: column; /* 这个是重点，默认的row会导致某些情况下高度限制失效 */
    align-items: center;
    justify-content: center;
    width: 100%;
    
    background-color: rgb(147, 177, 177);
}