.frame {
    display: flex;
    width: 100%;
    height: 37px;
    position: relative;
    top: 0;
    left: 0;
    background-color: #1F1F1F;
}

.frame-drag-area {
    width: 100%;
    height: 100%;
    -webkit-app-region: drag;
}

.frame button {
    height: 100%;
    aspect-ratio: 1.3;
    background-color: inherit;
    color: #FFFFFF;
    border: 0;
}

.frame button:hover {
    background-color: #2C2C2C;
}

.frame button:active {
    background-color: #282828;
}

#frame-close-btn:hover {
    background-color: #E81123;
}

#frame-close-btn:active {
    background-color: #F1707A;
}