html,
body {
    display: flex;
    position: fixed;
    flex-direction: column;
    background-color: #202020;
    width: 100%;
    height: 100%;
    margin: 0;
    user-select: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.editor {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    max-height: calc(100% - 37px);
    background-color: green;
}

.preview {
    display: flex;
    /* 这个是重点，默认的row会导致某些情况下高度限制失效 */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    background-color: rgb(81, 123, 111);
    padding: 15px;
}

.panel-container {
    /* max-width: 320px;
    min-width: 320px; */
    background-color: rgb(54, 54, 85);
}