.navigation-bar {
    display: flex;
    flex-direction: column;
    background-color: #bdd692;
    width: 45px;
    justify-content: space-between;
}


.navigation-btn {
    width: 100%;
    aspect-ratio: 1;
}