.navigation-bar {
    display: flex;
    flex-direction: column;
    background-color: #bdd692;
    max-width: 45px;
    min-width: 45px;
}


.navigation-btn {
    width: 100%;
    aspect-ratio: 1;
}