#curve-canvas-container {
    display: flex;
    position: relative;
    background-color: black;
    margin: 20px;
    width: fit-content;
    height: fit-content;
}

#curve-canvas {
    background-color: #b5bcc0;
}

.curve-control-point {
    position: absolute;
    width: 7px;
    height: 7px;
    /* border-radius: 50%; */
    background-color: white;
    transform: translate(-50%, 50%);
    cursor: move;
    /* 透明边框，增加互动范围 */
    border: 5px solid rgba(255, 0, 0, 0);
    background-clip: padding-box;
}